<div class="row link">
    <div class="row">
        {# title #}
        <div class="col">
            <a href="{{ link.link }}">{{ link.title }}</a>
        </div>

        {# tags #}
        <div class="col show-tags">
            <a href="#" class="js-show-tags unicode">&hellip;</a>
        </div>
        <div class="col tags js-tags" style="display: none">
            {% for tag in link.tags %}
                {% if tag.name != current_tag_name %}
                    {% if tag.name == '_post' %}
                        <a href="{{ tag.url }}" class="js-pjax">&#x2261;</a>
                    {% else %}
                        <a href="{{ tag.url }}" class="js-pjax">{{ tag.name }}</a>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </div>
    </div>

    {# desc #}
    {% if link.desc %}
        <div class="row desc">{{ link.desc }}</div>
    {% endif %}
</div>
