<article>
    <div class="row">
        {# title #}
        <div class="col">
            <a href="{{ link.link }}">{{ link.title }}</a>
        </div>

        {# tags #}
        <div class="col">
            <a href="#" class="js-show-tags show-tags">&hellip;</a>
        </div>

        <div class="col js-tags" style="display: none">
            {% for tag in link.tags %}
                {% if tag.name != current_tag_name %}
                    <a href="{{ tag.url }}" class="js-pjax tag">
                        {% if tag.name == '_post' %}
                            &#x2261;
                        {% else %}
                            {{ tag.name }}
                        {% endif %}
                    </a>
                {% endif %}
            {% endfor %}
        </div>

    </div>

    {# desc #}
    {% if link.desc %}
        {{ link.desc }}
    {% endif %}
</article>
