<header class="centered">
    <h1>
        {{ post.date }}
    </h1>

    <p>
        {% if post.prev %}
            <a href="{{ post.prev }}">←</a>
        {% endif %}

        {% if post.next %}
            <a href="{{ post.next }}">→</a>
        {% endif %}
    </p>
</header>

{% for item in post.items %}
    {% if item.__class__.__name__ == 'Note' %}
        {% with note=item %}
            {% include 'note.html' %}
        {% endwith %}
    {% else %}
        {% with link=item %}
            {% include 'link.html' %}
        {% endwith %}
    {% endif %}
{% endfor %}
