<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <!--
            for actual code visit
            https://github.com/narfdotpl/ln
        -->
        <title>ln</title>
        <link href="/static/style.css" rel="stylesheet">
        <link href="/feed" rel="alternate" title="Atom" type="application/atom+xml">
    </head>
    <body>
        <div id="container">
            <div id="nav">
                <a href="/{{ latest }}" class="js-pjax">latest</a>
                <span>&middot;</span>
                <a href="/tags" class="js-pjax">tags</a>
                <span>&middot;</span>
                <a href="/feed">feed</a>
            </div>

            <div id="content">
                {{ inner }}
            </div>
        </div>

        {% if debug %}
            <script src="/static/jquery.min.js"></script>
        {% else %}
            <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.min.js"></script>
        {% endif %}
        <script src="/static/jquery.pjax.min.js"></script>
        <script src="/static/app.js"></script>
    </body>
</html>
