<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <!--
            for actual code visit
            https://github.com/narfdotpl/links
        -->
        <title>links</title>

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/static/naif.min.css?9b2c8328" rel="stylesheet">
        <link href="//fonts.googleapis.com/css?family=Open+Sans:400italic,400,700" rel="stylesheet">

        <link href="/static/style.css?932240df" rel="stylesheet">

        <link href="/feed" rel="alternate" title="Atom" type="application/atom+xml">
    </head>
    <body>
        <div id="main-wrapper">
            <div id="content">
                {{ inner }}
            </div>

            <hr>

            <div class="row">
                <div class="col60">
                    <p>
                        links collected by
                        <br class="hidden-elsewhere">
                        <a href="https://narf.pl/">Maciej&nbsp;Konieczny</a>
                    </p>
                </div>

                <div class="col40">
                    <p align="right">
                        <a href="/{{ latest }}">latest</a>
                        &middot;&nbsp;<a href="/tags">tags</a>
                        &middot;&nbsp;<a href="/feed">feed</a>
                    </p>
                </div>
            </div>
        </div>

        <script src="/static/jquery.min.js"></script>
        <script src="/static/app.js?1bf2c064"></script>
    </body>
</html>
